<section class="p-5 frst-sec" id="#scrollspyHeading1">
  <div class="congtainer align-items-center gx-5 row d-flex">
    <h2 class="col-4 icons">About Me</h2>
    <div class="col">
        
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo saepe consectetur non odit libero voluptatum,
        officia, cumque vel nobis sequi dolor facere accusantium modi quisquam eaque eos cupiditate. Vero, at.</p>
      <button class="mt-4">Download Resume</button>
    </div>
    <!-- <img src="https://via.placeholder.com/100" class="pt-4 col-4"> -->
    <!-- <i class="bi-hand-thumbs-up pt-4 col-4 icons"></i> -->
  </div>
</section>
